@font-face {
	font-family: 'HT';
	font-weight: 'normal';
	font-style: 'normal';
	src: url('./ethnocentric rg.ttf');
}
@font-face {
	font-family: 'ERASDEMI';
	font-weight: 'normal';
	font-style: 'normal';
	src: url('./ERASDEMI.TTF');
}
@font-face {
	font-family: 'happytimes';
	font-weight: 'bold';
	font-style: 'normal';
	src: url('./happytimes.otf');
}
